body, html {
	margin:0;
	padding: 0;
	height:100%;
}

body {
	background: #000 url(bg.jpg) ;
	background-size: 100% 100%;
	font-family: 'Lusitana', serif;
	overflow: hidden;
}

footer {
		background: rgba(0,0,42,.3);
		height: 30px;
		color:#fff;
		padding: 3px;
		position: absolute;
		text-align: center;
		bottom: 0;
		right: 0;
		left:0;
}

header {
		background: rgba(0,0,42,.3);
	box-shadow: rgba(0,0,0,.3) 0px 3px 10px;
	border-bottom: rgba(20,20,42,.3);
	position: absolute;
	left:0; 
	right: 0;
	top:0;
	z-index: 200;
}

.field {
	position: absolute;
	top:90px;
	bottom: 0;
	left:0;
	right: 0;

} 

.life {
	height: 90px;
	padding: 0;
	margin: 0;
}

.inner {
	width: 90%;
	height: 85%;
	margin:4% auto;
	text-align: center;
}
.card {
	text-align: center;
	height:100%;
	width: 45%;
	margin: 0 1%;
	display: inline-block;
	border-radius: 10px;
	position: relative;
}

.card img {
	height: 100%;
	width: auto;
	  border-radius: 30px;

}


.life li {
	display: block;
	float: left;
	width: 20%;
	height: 40px;
	padding: 10px 0;
	font-size: 60px;
	text-align: center;
	color:#fff;
	text-shadow:rgba(0,0,0,.4) 0px 2px 2px;
}

.life li span.name {
	content: 'BOSS';
	color:#fff;
	display: inline-block;
	font-size: 20px;
	width: 50%;
	margin: 3px auto 0 auto;

	background: #1051C9;
	display: block;
	border-radius: 20px;
	border:1px #eee solid;

	box-shadow: rgba(0,0,0,4) 0px 0px 7px;
}

.life li.boss span.name {
		background: #C91010;
}

#count {
	background: rgba(0,0,0,.4);
	width: 40%;
	height: 65px;
	color: #fff;
	font-size: 55px;
	display: block;
	position: absolute;
	bottom:1%;
	left:0;
	margin: 0 30%;
	border-radius: 200px;
}